@model IEnumerable<TallerHernandez.Models.Area>

@{
    ViewData["Title"] = "Index";
}

<div class="row align">
    <div class="col-md-3 col-sm-12">
        <img src="/images/logoTaller.png" style="max-height: 90%; max-width:100%;">
    </div>
    <div class="col-md-9 col-sm-12 mb-5">
        <h1 class="mb-3">Areas</h1>
        <p>
            <a class="btn btn-outline-primary font-weight-bold rounded-pill" asp-action="Create">Agregar Area</a>
        </p>
        <p>
            <a data-toggle="modal" data-target="#modalAr" class="btn btn-info">Nueva Area</a>
        </p>

        <form class="form-inline" asp-action="Index" method="get">
            <input class="col-md-7 col-sm-12 mr-sm-2 mb-2" type="text" placeholder="Ingrese el nombre del Area a busar" data-val="true" data-val-required="The nombre field is required." id="Buscar" name="Buscar" value="@ViewData["Filtro"]">
            <input type="submit" class="col-md-2 col-sm-12 btn btn-block btn-primary rounded-pill mb-2" value="Buscar">
            <input name="__RequestVerificationToken" type="hidden">
            <a asp-action="Index">Todos los registros</a>
        </form>

    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-responsive-sm">
    <thead class="thead-dark text-center">
        <tr>
            <th>
                <a asp-action="Index" asp-route-OrdenA="@ViewData["OrdenNom"]">@Html.DisplayNameFor(model => model.areaNom)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="thead-dark text-center">
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.areaNom)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AreaID" class=" btn btn-sm btn-light btn-block">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.AreaID" class="btn btn-sm btn-info btn-block">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.AreaID" class="btn btn-sm btn-danger btn-block">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="modal fade" id="modalAr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="">Nuevo cliente</h4>
                <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="">
                        <div>
                            <div class="form-group">
                                <label for="areaNom" class="col-md-2 control-label">Nombre</label>
                                <div class="col-md-10">
                                    <input for="areaNom" id="areaNom" placeholder="nombre" name="areaNom" class="form-control" autofocus />

                                </div>
                                </div>
                            </div>
                        </div>
                    
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="nuevoArea()">Guardar</button>
            </div>
        </div>
    </div>
</div>