@model TallerHernandez.ViewModels.CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row bg-white justify-content-center">
        <form asp-action="Factura" method="post" class="col-md-11 mt-md-3 mb-md-5">
            <input value="@Model.recepcion.recepcionID" asp-for="@Model.recepcion.recepcionID" hidden />
            <input value="@Model.recepcion.clienteID" asp-for="@Model.recepcion.clienteID" hidden />
            <input asp-for="fechaemision" id="inputfecha" hidden />
            <div id="Imprimir">
                <div class="row align-items-center mb-md-2">
                    <img class="col-md-3 offset-md-1" src="~/images/logoTaller.png" />
                    <div class="col-md-5 offset-md-3">
                        <p class="h4">No. Recepción: @Model.recepcion.recepcionID</p>
                        <p class="h4">Fecha de entrada: @Model.recepcion.fechaEntrada</p>
                        <p class="h4" id="fecha"></p>
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">Número de identificación</th>
                            <th scope="col" colspan="2">Nombre completo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.recepcion.cliente.clienteID</td>
                            <td colspan="2">@Model.recepcion.cliente.nombre @Model.recepcion.cliente.apellido</td>
                        </tr>
                    </tbody>
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">Número de placa o chasis</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Año</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.recepcion.Automovil.placa</td>
                            <td>@Model.recepcion.Automovil.marca</td>
                            <td>@Model.recepcion.Automovil.anio</td>
                        </tr>
                    </tbody>
                    <thead class="bg-secondary text-white text-center">
                        <tr>
                            <th scope="col" colspan="3">Procedimientos Realizados</th>
                        </tr>
                    </thead>
                    <thead class="bg-secondary text-white text-center table-striped">
                        <tr>
                            <th scope="col" colspan="2">Descripción</th>
                            <th scope="col" colspan="1">Precio ($)</th>
                        </tr>
                    </thead>
                    @for (int i = 0; i < Model.procedimientos.Count; i++)
                    {
                        <tbody>
                            <tr>
                                <td scope="col" colspan="2" class="">@Model.procedimientos[i].procedimiento</td>
                                <td scope="col" colspan="1">
                                    <input asp-for="@Model.procedimientos[i].precio" type="number" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" min="0.00" step="any" class="form-control precio-pro" value="@Model.procedimientos[i].precio">
                                    <input value="@Model.procedimientos[i].procedimientoID" asp-for="@Model.procedimientos[i].procedimientoID" hidden />
                                    <input value="@Model.procedimientos[i].recepcionID" asp-for="@Model.procedimientos[i].recepcionID" hidden />
                                    <input value="@Model.procedimientos[i].estado" asp-for="@Model.procedimientos[i].estado" hidden />
                                    <input value="@Model.procedimientos[i].areaID" asp-for="@Model.procedimientos[i].areaID" hidden />
                                    <input value="@Model.procedimientos[i].procedimiento" asp-for="@Model.procedimientos[i].procedimiento" hidden />
                                </td>
                            </tr>
                        </tbody>

                        @for (int j = 0; j < Model.tareasRecepcion.Count; j++)
                        {
                            @if (Model.tareasRecepcion[j].procedimientoID == @Model.procedimientos[i].procedimientoID)
                            {
                                <tbody>
                                    <tr>
                                        <td scope="col" colspan="2" class="table-secondary">
                                            <input value="@Model.tareasRecepcion[j].asignacionTareaID" asp-for="@Model.tareasRecepcion[j].asignacionTareaID" hidden />
                                            <input value="@Model.tareasRecepcion[j].descripcion" asp-for="@Model.tareasRecepcion[j].descripcion" hidden />
                                            <input value="@Model.tareasRecepcion[j].empleadoID" asp-for="@Model.tareasRecepcion[j].empleadoID" hidden />
                                            <input value="@Model.tareasRecepcion[j].estadoTarea" asp-for="@Model.tareasRecepcion[j].estadoTarea" hidden />
                                            <input value="@Model.tareasRecepcion[j].procedimientoID" asp-for="@Model.tareasRecepcion[j].procedimientoID" hidden />
                                            <strong>Extras: @Model.tareasRecepcion[j].descripcion</strong>
                                        </td>
                                        <td scope="col" colspan="1" class="table-secondary"><input asp-for="@Model.preciosExtras[j]" type="number" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" min="0.00" step="any" class="form-control precio-comen"></td>
                                    </tr>
                                </tbody>
                            }
                        }
                    }
                    <thead class="bg-dark text-white text-center ">
                        <tr>
                            <th scope="col">Total Bruto ($)</th>
                            <th scope="col">Impuesto (%)</th>
                            <th scope="col">Total Neto ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col"><input asp-for="total" type="number" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" min="0.00" class="form-control" id="total" placeholder="" readonly></td>
                            <td scope="col"><input asp-for="impuesto" type="number" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" min="0.00" max="100.00" step="any" class="form-control" id="impuesto" placeholder=""></td>
                            <td scope="col"><input type="number" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" min="0.00" class="form-control" id="totalneto" placeholder="" readonly></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-center">
                <button class="col-md-5 btn btn-dark btn-block" onclick="printThisDiv('Imprimir')">Imprimir Factura</button>
                <button type="submit" class="offset-1 col-md-5 btn btn-success btn-block btn-lg" style="margin-top: 0px;">Realizar Factura</button>
            </div>
        </form>
     </div>

        <script src="~/js/Checkout.js"></script>
        <style>
            .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
                border: 2px solid black;                
            }            
        </style>
