@model TallerHernandez.Models.Empleado

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div class="row">
    <div class="col-md-8 border border-success">
        <h4>Cliente</h4>
        <hr />
        <div class="">
            <div class="text-center pt-4">
                <img class="rounded-circle" width="200" height="200" src="/images/automobile1.jpg" alt="usuario" id="file-preview-zone" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <dl>


            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.apellido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.apellido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.correo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.correo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.telefono)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.telefono)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.imagen)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.imagen)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.salario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.salario)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.area)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.area.areaNom)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.rol)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.rol.rolNom)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.modoPago)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.modoPago.tipo)
            </dd>
        </dl>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.empleadoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
