@model TallerHernandez.Models.Empleado

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>


<h4>Empleado</h4>

<hr />
<div class="row">
    <div class="col-md-4  bg-white shadow" style="z-index:4;">
        <div class="text-center pt-4">
            <img class="rounded-circle" src="/uploads/@(Model.imagenN)" alt="usuario" width="200" height="200" id="file-preview-zone" />
        </div>



        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="emploDUI" class="control-label"></label>
            <input asp-for="emploDUI" class="form-control" disabled />
            <span asp-validation-for="emploDUI" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="nombre" class="control-label"></label>
            <input asp-for="nombre" class="form-control" disabled />
            <span asp-validation-for="nombre" class="text-danger"></span>
        </div>
        <div class="form-group" hidden>
            <label asp-for="imagenN" class="control-label"></label>
            <input asp-for="imagenN" class="form-control" />
            <span asp-validation-for="imagenN" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="apellido" class="control-label"></label>
            <input asp-for="apellido" class="form-control" disabled />
            <span asp-validation-for="apellido" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-8 bg-white" style=" background-image: url('../images/fondo 1-02.png') !important;">
        <div class="form-group">
            <label asp-for="correo" class="control-label"></label>
            <input asp-for="correo" class="form-control" disabled />
            <span asp-validation-for="correo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="telefono" class="control-label"></label>
            <input asp-for="telefono" class="form-control" disabled />
            <span asp-validation-for="telefono" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="salario" class="control-label"></label>
            <input asp-for="salario" class="form-control" disabled />
            <span asp-validation-for="salario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="areaID" class="control-label"></label>
            <input asp-for="areaID" class="form-control" value="@ViewData["area"]" disabled hidden>
            <p class="form-control">@ViewData["area"]</p>
        </div>
        <div class="form-group">
            <label asp-for="rolID" class="control-label"></label>
            <input asp-for="rolID" class="form-control" value="@ViewData["rol"]" disabled hidden>
            <p class="form-control">@ViewData["rol"]</p>
        </div>
        <div class="form-group">
            <label asp-for="modopagoID" class="control-label"></label>
            <input asp-for="modopagoID" class="form-control" value="@ViewData["pago"]" disabled hidden>
            <p class="form-control">@ViewData["pago"]</p>
        </div>
        <div class="form-group d-flex justify-content-end">
            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </div>
    
    </div>
   

</div>



