@model TallerHernandez.Models.Factura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idRecepcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idRecepcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.impuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.impuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalNeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalNeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaEmision)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.facturaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
