@model IEnumerable<TallerHernandez.Models.Factura>

@{
    ViewData["Title"] = "Resumen General del Mes";

}

<h1>Resumen General del Mes</h1>
<div class="form-group">
    <button type="button" class="btn btn-secondary" onclick="printThisDiv('Imprimir')">Imprimir</button>
</div>
    <form asp-action="Index" method="get">
        <div class="form-group">

            <select class="form-control" id="mes" name="mes">
                <option value="1" id="mes" name="mes">Enero</option>
                <option value="2" id="mes" name="mes">Febrero</option>
                <option value="3" id="mes" name="mes">Marzo</option>
                <option value="4" id="mes" name="mes">Abril</option>
                <option value="5" id="mes" name="mes">Mayo</option>
                <option value="6" id="mes" name="mes">Junio</option>
                <option value="7" id="mes" name="mes">Julio</option>
                <option value="8" id="mes" name="mes">Agosto</option>
                <option value="9" id="mes" name="mes">Septiembre</option>
                <option value="10" id="mes" name="mes">Octubre</option>
                <option value="11" id="mes" name="mes">Noviembre</option>
                <option value="12" id="mes" name="mes">Diciembre</option>
            </select>

        </div>
        <div class="form-group">
            <select class="form-control" id="anio" asp-for=" @ViewData["anio"]" name="anio" asp-items="ViewBag.Anios"></select>
        </div>
        <div class="input-group mb-3" style="margin:20px;">
            <input type="submit" class="btn btn-info" value="Buscar">
        </div>
    </form>

    <div id="Imprimir">
        <div class="row bg-white rounded shadow " style="z-index:4; margin:20px;">
            <div class="col-4">
                <div class="text-center pt-4">
                    <img class="rounded-circle" src="/uploads/logoTaller.png" alt="usuario" width="200" height="200" id="file-preview-zone" />
                </div>
            </div>
            <div class="col-8 row align-content-center">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"></span>
                        </div>
                        <input type="text" class="form-control" disabled placeholder="Username" value="Resumen del Periodo" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"></span>
                        </div>
                        <input type="text" class="form-control" disabled placeholder="Username" value="@ViewData["total"]" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                </div>

            </div>
        </div>

        <table class="table table-striped table-responsive-sm">
            <thead class="thead-dark text-center">
                <tr>

                    <th>
                        DUI Cliente
                    </th>
                    <th>
                        Impuesto
                    </th>
                    <th>
                        Sub-Total
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Se Realizó:
                    </th>

                </tr>
            </thead>
            <tbody class="thead-dark text-center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.impuesto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.totalNeto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaEmision)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        var printThisDiv = (id) => {
            var printContents = document.getElementById(id).innerHTML;
            var originalContent = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContent;

        }
    </script>
