@model TallerHernandez.Models.AsignacionTarea

@{
    ViewData["Title"] = "DetailsAsigE";
}

<h1>Detalles</h1>
<h4>Asignación de Tarea</h4>
<hr />
<div class="container" style="background-color: white;
        border-radius: 8px;
        padding: 3%
    ">
    <div class="table-responsive">
        <div class="row">
            <div class="col-sm-6">
                <table class="table">
                    <tr style="border: 1px; border-color:white">
                        <td>
                            <label class="control-label"><strong>Placa del automóvil</strong></label>
                        </td>
                        <td>
                            <input class="form-control" disabled value="@Model.procedimiento.recepcion.Automovil.placa" />
                            @*@Html.DisplayFor(model => model.procedimiento.recepcion.Automovil.placa)*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><strong>Dueño</strong></label>
                        </td>
                        <td>
                            <input class="form-control" disabled value="@Model.procedimiento.recepcion.cliente.nombre @Model.procedimiento.recepcion.cliente.apellido" />
                            @*@Html.DisplayFor(model => model.procedimiento.recepcion.Automovil.placa)*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><strong>Procedimiento a realizar</strong></label>
                        </td>
                        <td>
                            <input class="form-control" disabled value="@Model.procedimiento.procedimiento" />
                            @*@Html.DisplayFor(model => model.procedimiento.recepcion.Automovil.placa)*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><strong>Área</strong></label>
                        </td>
                        <td>
                            <input class="form-control" disabled value="@Model.procedimiento.area.areaNom" />
                            @*@Html.DisplayFor(model => model.procedimiento.recepcion.Automovil.placa)*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><strong>Fecha de Entrada</strong></label>
                        </td>
                        <td>
                            <input class="form-control" disabled value="@Model.procedimiento.recepcion.fechaEntrada" />
                            @*@Html.DisplayFor(model => model.procedimiento.recepcion.Automovil.placa)*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><strong>Fecha de Salida</strong></label>
                        </td>
                        <td>
                            <input class="form-control" disabled value="@Model.procedimiento.recepcion.fechaSalida" />
                            @*@Html.DisplayFor(model => model.procedimiento.recepcion.Automovil.placa)*@
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table" style="border: 0">
                    <tr>
                        <td>
                            <label class="control-label"><strong>Encargado</strong></label>
                        </td>
                        <td>
                            <input class="form-control" disabled value="@Model.empleado.nombre @Model.empleado.apellido" />
                            @*@Html.DisplayFor(model => model.procedimiento.recepcion.Automovil.placa)*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><strong>Especificaciones extras</strong></label>
                        </td>
                        <td>
                            <textarea class="form-control" disabled rows="9">@Model.descripcion</textarea>
                            @*@Html.DisplayFor(model => model.procedimiento.recepcion.Automovil.placa)*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><strong>Estado</strong></label>
                        </td>
                        <td>
                            @if (Model.estadoTarea.Equals(false))
                            {
                                <input class="form-control" disabled value="No finalizada"/>
                            }
                            else
                            {
                                <input class="form-control" disabled value="Finalizada" />
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.asignacionTareaID">Editar</a> |
    @if (Model.estadoTarea.Equals(false))
    {
        <a asp-action="TareasEnProcesoEmpleado">Regresar al listado</a>
    }
    else
    {
        <a asp-action="TareasFinalizadasEmpleado">Regresar al listado</a>
    }
</div>
