@model IEnumerable<TallerHernandez.Models.Empleado>

@{
    ViewData["Title"] = "EmpleadoAsig";
    int procedimientoID = ViewBag.procedimientoID;
}

<div class="row align">
    <div class="col-md-3 col-sm-12">
        <img src="/images/logoTaller.png" style="max-height: 90%; max-width:100%;">
    </div>
    <div class="col-md-9 col-sm-12 mb-5">
        @if (ViewBag.empleado.Count != 0)
        {
            <h1 class="mb-3">Empleados</h1>
        }
        else
        {
            <h1 class="mb-3">No hay empleados disponibles</h1>
        }


        @*<form class="form-inline" asp-action="EmpleadoAsig" method="get">
            <input class="col-md-7 col-sm-12 mr-sm-2 mb-2" type="text" placeholder="Ingrese el nombre o apellido " data-val="true" data-val-required="The nombre field is required." id="cadena" name="cadena" value="@ViewData["Filtro"]">
            <input type="submit" class="col-md-2 col-sm-12 btn btn-block btn-primary rounded-pill mb-2" value="Buscar">
            <input name="__RequestVerificationToken" type="hidden" />
            <a asp-action="EmpleadoAsig">Todos los registros</a>
        </form>*@

    </div>
</div>

<table class="table table-striped table-responsive-sm">
    <thead class="thead-dark text-center">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Correo
            </th>
            <th>
                Área
            </th>
            <th>
                Acción
            </th>
            @*<th>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ordenar Por:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-action="EmpleadoAsig" asp-route-OrdenAsig="@ViewData["OrdenNom"]">    @Html.DisplayNameFor(model => model.nombre)</a>
                    <a class="dropdown-item" asp-action="EmpleadoAsig" asp-route-OrdenAsig="@ViewData["OrdenAp"]">  @Html.DisplayNameFor(model => model.apellido)</a>

                </div>
            </div>
        </th>*@
        </tr>
    </thead>
    <tbody class="thead-dark text-center">
        @foreach (var item in Model)
        {
            Dictionary<string,string> parms = new Dictionary<string,string>();
            parms.Add("empleadoID", Convert.ToString(item.empleadoID));
            parms.Add("procedimientoID", Convert.ToString(procedimientoID));

            <tr>
                <td data-toggle="tooltip" data-placement="top" title="<img src='/uploads/@(item.imagenN)'  width='200' height='100'>">
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.area.areaNom)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="CreateAsig" asp-controller="AsignacionTareas" asp-all-route-data="parms">Elegir</a>
                </td>
            </tr>
        }
    </tbody>
</table>


