@model IEnumerable<TallerHernandez.Models.AsignacionTarea>

@{
    ViewData["Title"] = "TareasFinalizadas";
}

<h1>Listado de tareas finalizadas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Automóvil
            </th>
            <th>
                Mantenimiento
            </th>
            <th>
                Procedimiento
            </th>
            <th>
                Encargado
            </th>
            <th>
                Entrega
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.recepcion.automovilID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recepcion.mantenimientoID) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recepcion.procedimientoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empleado.empleadoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recepcion.fechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoTarea)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.asignacionTareaID" class="btn btn-sm btn-info btn-block">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.asignacionTareaID" class="btn btn-sm btn-danger btn-block">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
