@model IEnumerable<TallerHernandez.Models.AsignacionTarea>

@{
    ViewData["Title"] = "TareasEnProcesoEmpleado";
}
<div class="row align">
    <div class="col-md-3 col-sm-12">
        <img src="/images/logoTaller.png" style="max-height: 90%; max-width:100%;">
    </div>
    <div class="col-md-9 col-sm-12 mb-5">
        <h1>Labores asignadas</h1>
        <form class="form-inline" asp-action="TareasEnProcesoEmpleado" method="get">
            <input class="col-md-7 col-sm-12 mr-sm-2 mb-2" type="text" placeholder="Ingresa una placa" data-val="true" data-val-required="The nombre field is required." id="cadena" name="cadena" value="@ViewData["Filtro"]">
            <input type="submit" class="col-md-2 col-sm-12 btn btn-block btn-primary rounded-pill mb-2" value="Buscar">
            <input name="__RequestVerificationToken" type="hidden">
            <a asp-action="TareasEnProcesoEmpleado">Todos los registros</a>
        </form>
    </div>
</div>
<table class="table table-striped table-responsive-sm">
    <thead class="thead-dark text-center">
        <tr>
            <th>
                Automóvil
            </th>
            <th>
                Procedimiento
            </th>
            <th>
                Área
            </th>
            <th>
                Encargado
            </th>
            <th>
                Entrega
            </th>
            <th>
                Estado
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ordenar Por:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Index" asp-route-OrdenAsig="@ViewData["OrdenAuto"]">@Html.DisplayNameFor(model => model.procedimiento.recepcion.automovilID)</a>
                        <a class="dropdown-item" asp-action="Index" asp-route-OrdenAsig="@ViewData["OrdenNom"]">@Html.DisplayNameFor(model => model.empleado.nombre)</a>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="thead-dark text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.procedimiento.recepcion.Automovil.placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.procedimiento.procedimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.procedimiento.area.areaNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empleado.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.procedimiento.recepcion.fechaSalida)
                </td>
                @if (item.estadoTarea.Equals(false))
                {
                    <td>
                        No finalizada
                    </td>
                }
                else
                {
                    <td>
                        Finalizada
                    </td>
                }
                <td>
                    <a class="p-2" style="color:#e2df37;" asp-action="EditarAsigE" asp-route-id="@item.asignacionTareaID"><i class="far fa-edit"></i></a>
                    <a class="p-2" style="color:#1985a8;" asp-action="DetailsAsigE" asp-route-id="@item.asignacionTareaID"><i class="fas fa-info-circle"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
