@model IEnumerable<TallerHernandez.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

    <div class="row align">
        <div class="col-md-3 col-sm-12">
            <img src="/images/logoTaller.png" style="max-height: 90%; max-width:100%;">
        </div>
        <div class="col-md-9 col-sm-12 mb-5">
            <h1 class="mb-3">Clientes</h1>
            <p>
                <a class="btn btn-outline-primary font-weight-bold rounded-pill" href="/Cliente/Insertar?area=Cliente">Crear Cliente</a>
            </p>

            <form class="form-inline" asp-action="Index" method="get">
                <input class="col-md-7 col-sm-12 mr-sm-2 mb-2" type="text" placeholder="Ingrese el nombre de un cliente a buscar" data-val="true" data-val-required="The nombre field is required." id="Buscar" name="Buscar" value="@ViewData["Filtro"]">
                <input type="submit" class="col-md-2 col-sm-12 btn btn-block btn-primary rounded-pill mb-2" value="Buscar" >
                <input name="__RequestVerificationToken" type="hidden" >
                <a asp-action="Index">Todos los registros</a>
            </form>

        </div>
    </div>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<p>
    <a data-toggle="modal" data-target="#modalC" class="btn btn-info">Nuevo cliente</a>
</p>
<table class="table table-striped table-responsive-sm">
    <thead class="thead-dark text-center">
        <tr>
            <th>
                <a asp-action="Index" asp-route-OrdenA="@ViewData["OrdenNom"]">    @Html.DisplayNameFor(model => model.nombre)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-OrdenA="@ViewData["OrdenAp"]">  @Html.DisplayNameFor(model => model.apellido)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.puntos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="thead-dark text-center">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.puntos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.clienteID" class="btn btn-sm btn-light btn-block">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.clienteID" class="btn btn-sm btn-info btn-block">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.clienteID" class="btn btn-sm btn-danger btn-block">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="modal fade" id="modalC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> 
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
           
            <h4 class="">Nuevo cliente</h4>
            <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <form asp-action="" class="">
                <div class="">
                    <div>
                        <div class="form-group">
                            <label for="clienteID" class="col-md-2 control-label">DUI</label>
                            <div class="col-md-10">
                                <input for="clienteID" id="clienteID" placeholder="DUI" name="clienteID" class="form-control" autofocus />

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nombre" class="col-md-2 control-label">Nombre</label>
                            <div class="col-md-10">
                                <input for="nombre" id="nombre" class="form-control" placeholder="Nombre" name="nombre" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="apellido" class="col-md-2 control-label">Apellido</label>
                            <div class="col-md-10">
                                <input for="apellido" id="apellido" class="form-control" placeholder="Apellido" name="apellido" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="correo" class="col-md-2 control-label">Correo</label>
                            <div class="col-md-10">
                                <input type="email" for="correo" id="correo" placeholder="correo" name="correo" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="telefono" class="col-md-2 control-label">Teléfono</label>
                            <div class="col-md-10">
                                <input type="tel" for="telefono" id="telefono" placeholder="telefono" name="telefono" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="puntos" class="col-md-2 control-label">Puntos</label>
                            <div class="col-md-10">
                                <input type="tel" for="puntos" id="puntos" placeholder="telefono" name="puntos" class="form-control" />
                            </div>
                        </div>
                        <label id="mensje" class="col-md-2" control-label></label>
                    </div>
                  
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="nuevoCliente()">Guardar</button>
        </div>
    </div>
</div>
</div>
