@model IEnumerable<TallerHernandez.Models.Procedimiento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.procedimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.procedimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area.areaNom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.procedimientoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.procedimientoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.procedimientoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
