@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles - Inicio";
}
<div class="row align">
    <div class="col-md-3 col-sm-12">
        <img src="/images/logoTaller.png" style="max-height: 90%; max-width:100%;">
    </div>
    <div class="col-md-9 col-sm-12 mb-5">
        <h1 class="mb-3">Roles</h1>
        <p>
            <a class="btn btn-outline-primary font-weight-bold rounded-pill" asp-action="Create">Agregar Rol</a>
        </p>

        <form class="form-inline" asp-action="Index" method="get">
            <input class="col-md-7 col-sm-12 mr-sm-2 mb-2" type="text" placeholder="ingresa el nombre del puesto" data-val="true" data-val-required="The nombre field is required." id="Buscar" name="Buscar" value="@ViewData["Filtro"]">
            <input type="submit" class="col-md-2 col-sm-12 btn btn-block btn-primary rounded-pill mb-2" value="Buscar">
            <input name="__RequestVerificationToken" type="hidden">
            <a asp-action="Index" class="col-md-2 col-sm-12 btn btn-block btn-primary rounded-pill mb-2">Mostrar Todos</a>
        </form>

    </div>
</div>

<div class="row align-content-center">
    @foreach (var item in Model)
    {
        <div class="card bg-light m-3" style="width: 15rem;">
            <div class="card-header text-center">@Html.DisplayFor(modelItem => item.Id)</div>
            <div class="card-body">
                <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Name)</h5>
            </div>
            <div class="card-footer  border-success text-right">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light btn-block">Editar</a>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                    <span id="confirmDeleteSpan_@item.Id" style="display:none">
                        <p class="text-center">¿Estás seguro de eliminar este Rol?</p>
                        <button type="submit" class="btn btn-danger btn-block">Si</button>
                        <a href="#" class="btn btn-success btn-block"
                           onclick="confirmDelete('@item.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@item.Id">
                        <a href="#" class="btn btn-warning btn-block"
                           onclick="confirmDelete('@item.Id', true)">Eliminar</a>
                    </span>
                </form>
            </div>
        </div>
    }
</div>        
        
@section Scripts
{

    <script src="~/js/CustomJS.js"></script>
    <script src="~/js/site.js"></script>
}