@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles - Inicio";
}
<div class="row align">
    <div class="col-md-3 col-sm-12">
        <img src="/images/logoTaller.png" style="max-height: 90%; max-width:100%;">
    </div>
    <div class="col-md-9 col-sm-12 mb-5">
        <h1 class="mb-3">Roles</h1>
        <p>
            <a class="btn rounded-pill btn-outline-dark font-weight-bold" asp-action="Create">Agregar Rol</a>
        </p>

        <form class="form-inline" asp-action="Index" method="get">
            <div class="input-group mb-3 col-10 pl-0">
                <input class="form-control" type="text" placeholder="Busque por rol" data-val="true" data-val-required="Ingrese un valor." id="Buscar" name="Buscar" value="@ViewData["Filtro"]">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-dark" value="Buscar"><i class="fas fa-search"></i></button>
                    <a class="btn btn-outline-dark" asp-action="Index"><i class="fas fa-redo-alt text-danger"></i></a>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="row align-content-center">
    @foreach (var item in Model)
    {
        <div class="card bg-light m-3" style="width: 30rem;">
            <div class="card-header text-center">@Html.DisplayFor(modelItem => item.Id)</div>
            <div class="card-body">
                <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Name)</h5>
            </div>
            <div class="card-footer  border-success text-right">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light btn-block">Editar</a>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                    <span id="confirmDeleteSpan_@item.Id" style="display:none">
                        <p class="text-center">¿Estás seguro de eliminar este Rol?</p>
                        <button type="submit" class="btn btn-danger btn-block">Si</button>
                        <a href="#" class="btn btn-success btn-block"
                           onclick="confirmDelete('@item.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@item.Id">
                        <a href="#" class="btn btn-warning btn-block"
                           onclick="confirmDelete('@item.Id', true)">Eliminar</a>
                    </span>
                </form>
            </div>
        </div>
    }
</div>        
        
@section Scripts
{

    <script src="~/js/CustomJS.js"></script>
    <script src="~/js/site.js"></script>
}