@model IEnumerable<TallerHernandez.Models.Recepcion>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<    <div class="row align">
    <div class="col-md-3 col-sm-12">
        <img src="/images/logoTaller.png" style="max-height: 90%; max-width:100%;">
    </div>
    <div class="col-md-9 col-sm-12 mb-5">
        <h1>Trabajos ingresados</h1>
        <p>
            <a class="btn rounded-pill btn-outline-primary font-weight-bold" asp-action="Create">Nueva Ficha</a>
        </p>

        <form class="form-inline" asp-action="Index" method="get">
            <input class="col-md-7 col-sm-12 mr-sm-2 mb-2" type="text" placeholder="Busque por placa o cliente" data-val="true" data-val-required="Ingrese un valor." id="Buscar" name="Buscar" value="@ViewData["Filtro"]">
            <input type="submit" class="col-md-2 col-sm-12 btn btn-block btn-primary rounded-pill mb-2 mr-1" value="Buscar">
            @*<input name="__RequestVerificationToken" type="hidden" >*@
            <a class="btn btn-primary rounded-pill" asp-action="Index">Mostrar todos</a>
        </form>
    </div>
</div>

<div class="row align-content-center">
    @foreach (var item in Model)
    {
        <div class="card bg-light m-3" style="width: 15rem;">
            <div class="card-header">@Html.DisplayFor(modelItem => item.automovilID)</div>
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayNameFor(model => model.diagnostico)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.diagnostico)</p>
            </div>
            @if (item.estado.Equals(1))
            {
                <div class="card-footer  border-success text-right">
                    En proceso
                    <a asp-action="Edit" asp-route-id="@item.recepcionID" class="btn btn-warning btn-sm"><i class="fas fa-pen" aria-hidden="true" style="color:black"></i></a>
                    <a asp-action="Details" asp-route-id="@item.recepcionID" class="btn btn-info btn-sm"><i class="far fa-eye" style="color:black"></i></a>
                    <a data-url="@Url.Action("Delete","Recepcions")" data-id="@item.recepcionID"id="@item.recepcionID" class="btn btn-danger btn-sm"><i class="far fa-trash-alt" style="color:black"></i></a>
                </div>
            }
            else
            {
                <div class="card-footer border-danger text-right">
                    Finalizado
                    <a asp-action="Edit" asp-route-id="@item.recepcionID" class="btn btn-warning btn-sm"><i class="fas fa-pen" aria-hidden="true" style="color:black"></i></a>
                    <a asp-action="Details" asp-route-id="@item.recepcionID" class="btn btn-info btn-sm"><i class="far fa-eye" style="color:black"></i></a>
                    <a data-url="@Url.Action("Delete","Recepcions")" data-id="@item.recepcionID" id="@item.recepcionID" class="btn btn-danger btn-sm"><i class="far fa-trash-alt" style="color:black"></i></a>
                </div>
            }

        </div>
    }
</div>
<div id="gameModal" class="modal hide fade in" tabindex="-1" role="dialog" >
    <div id="gameContainer" class="modal-dialog modal-dialog-centered" role="document">
        
    </div>
</div>



@section Scripts {
@foreach (var item in Model)
{
<script type="text/javascript">
    $(document).ready(function () {
        $('#@item.recepcionID').click(function () {
            var id = $('#@item.recepcionID').data('id');
            var url = $('#@item.recepcionID').data('url');
            url = url + "/" + id;            

            $.get(url, function (data) {
                $('#gameContainer').html(data);

                $('#gameModal').modal('show');
            });
        });
    });
</script>
}   

}

