@model TallerHernandez.Areas.Cliente.Models.Cliente
@{
    ViewData["Title"] = "Actualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Actualizar Cliente</h1>
<h3>Llene el formulario de abajo</h3>

<hr />
<div class="row">
    <div class="col-8">
        <form asp-action="Actualizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID"/>
            <div class="form-group">
                <label asp-for="dui" class="control-label"></label>
                <input asp-for="dui" class="form-control" type="text" value="@Model.dui"/>
                <span asp-validation-for="dui" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" type="text" value="@Model.nombre"/>
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" type="text" value="@Model.apellido"/>
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" type="tel" value="@Model.telefono"/>
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" type="email" value="@Model.correo"/>
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <a asp-action="Index" class="btn btn-warning">Cancelar</a>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

