@model TallerHernandez.Areas.Cliente.Controllers.ViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row align-items-center">
        <div class="col-3">
            <img src="/images/logoTaller.png" style="max-height: 80%; max-width:80%;" />
        </div>
        <div class="col-7">
            <h1 class="mb-3">Clientes</h1>
            <p>
                <a asp-area="Cliente" asp-controller="Cliente" asp-action="Insertar" class="btn btn-outline-primary font-weight-bold rounded-pill">Crear Cliente</a>
            <p>
                <div class="row align-items-center">
                    <form asp-action="Busqueda" class="form-inline col-12">
                        <input class="col-md-7 col-sm-12 mr-sm-2 mb-2" asp-for="c.nombre" type="text" class="col-8" placeholder="Ingrese el nombre de un cliente a buscar" />
                        <input type="submit" class="col-md-2 col-sm-12 btn btn-block btn-primary rounded-pill mb-2" value="Buscar" />
                    </form>
                </div>
        </div>

        <table class="table table-striped">
            <thead class="thead-dark text-center">
                <tr>
                    <th>
                        DUI
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (TallerHernandez.Areas.Cliente.Models.Cliente cliente in Model.Clientes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => cliente.dui)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => cliente.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => cliente.apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => cliente.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => cliente.correo)
                        </td>
                        <td>
                            <a asp-area="Cliente" asp-controller="Cliente" asp-action="Actualizar" asp-route-id="@cliente.ID" class="btn btn-light">Editar</a>
                            <a asp-area="Cliente" asp-controller="Cliente" asp-action="Eliminar" asp-route-id="@cliente.ID" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>