@model TallerHernandez.Areas.Vehiculo.Controllers.AsignarClienteModel
@{
    ViewData["Title"] = "AsignarClienteActualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align">
    <div class="col-md-3 col-sm-12">
        <img src="/images/logoTaller.png" style="max-height: 90%; max-width:100%;"/>
    </div>
    <div class="col-md-9 col-sm-12 mb-5">
        <h1 class="mb-3">Clientes</h1>
            <form asp-action="BusquedaAsignarActualizar" class="form-inline">
                <input asp-for="v.placa" type="hidden" />
                <input asp-for="v.marca" type="hidden" />
                <input asp-for="v.modelo" type="hidden" />
                <input asp-for="v.ano" type="hidden" />
                <input asp-for="v.estado" type="hidden" />
                <input asp-for="v.procedimiento" type="hidden" />
                <input asp-for="v.comentario" type="hidden" />
                <input asp-for="v.image.nombreImagen" type="hidden" />
                <input asp-for="c.nombre" type="text" class="col-md-7 col-sm-12 mr-sm-2 mb-2" placeholder="Ingrese el nombre de un cliente a buscar" />
                <input type="submit" class="col-md-2 col-sm-12 btn btn-block btn-primary rounded-pill mb-2" value="Buscar" />
            </form>
    </div>
</div>
<table class="table table-hover table-responsive-sm table-bordered table-light">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.c.dui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.c.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.c.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.c.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.c.correo)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (TallerHernandez.Areas.Cliente.Models.Cliente cliente in Model.cliente)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => cliente.dui)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cliente.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cliente.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cliente.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cliente.correo)
                </td>
                <td>
                    <form asp-action="ActualizarVehiculo">
                        <input asp-for="v.placa" type="hidden" />
                        <input asp-for="v.marca" type="hidden" />
                        <input asp-for="v.modelo" type="hidden" />
                        <input asp-for="v.ano" type="hidden" />
                        <input asp-for="v.estado" type="hidden" />
                        <input asp-for="v.procedimiento" type="hidden" />
                        <input asp-for="v.comentario" type="hidden" />
                        <input asp-for="v.image.nombreImagen" type="hidden" />
                        <input asp-for="v.idcliente" type="hidden" value="@cliente.ID" />
                        <input type="submit" asp-for="v.idcliente" asp-action="ActualizarVehiculo" value="Asignar" asp-route-id="@cliente.ID" class="btn btn-info" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

