@model TallerHernandez.Areas.Vehiculo.Models.Vehiculo
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">¿Estás seguro de eliminar al siguiente vehículo?</h1>
<br />
<div class="row justify-content-center">
    <div class="border-danger card">
        <div class="card-header ">
            <h2 class="text-center">Información del vehículo</h2>
        </div>
        <div class="card-body">

            @*<p class="card-text">DUI: @Html.DisplayFor(model => model.dui)</p>
                <p class="card-text">Nombre: @Html.DisplayFor(model => model.nombre)</p>
                <p class="card-text">Apellido: @Html.DisplayFor(model => model.apellido)</p>
                <p class="card-text">Correo: @Html.DisplayFor(model => model.correo)</p>
                <p class="card-text">Teléfono: @Html.DisplayFor(model => model.telefono)</p>
                <p class="card-text">Puntaje: @Html.DisplayFor(model => model.puntaje)</p>*@

            <table class="table table-striped table-bordered">
                <tr>
                    <td>
                        Placa
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.placa)
                    </td>
                </tr>
                <tr>
                    <td>
                        Marca
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.marca)
                    </td>
                </tr>
                <tr>
                    <td>
                        Modelo
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.modelo)
                    </td>
                </tr>
                <tr>
                    <td>
                        Año
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ano)
                    </td>
                </tr>
                <tr>
                    <td>
                        Estado
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.estado)
                    </td>
                </tr>
                <tr>
                    <td>
                        Procedimiento
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.procedimiento)
                    </td>
                </tr>
                <tr>
                    <td>
                        Comentario
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.comentario)
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer">
            <form asp-action="Eliminar">
                <input type="hidden" asp-for="placa" />
                <input type="hidden" asp-for="marca" />
                <input type="hidden" asp-for="modelo" />
                <input type="hidden" asp-for="ano" />
                <input type="hidden" asp-for="estado" />
                <input type="hidden" asp-for="procedimiento" />
                <input type="hidden" asp-for="comentario" />
                <input type="submit" value="Eliminar" class="btn btn-block btn-danger card-link">
            </form>
            <a asp-action="Index" class="btn btn-block btn-secondary     card-link">Cancelar</a>
        </div>
    </div>
    @*<div class="col-6 align-content-center">

        </div>*@
</div>